*{padding:0px; margin:0px; }
li{list-style:none;}
a{text-decoration:none; color:#000;}
body{font-family: 'Nanum Gothic', sans-serif; cursor:url(../img/chick.jpg) 20 30, url(../img/mapa2.png) 20 30, auto;}


#header{height:100px; display:flex; justify-content:space-around; box-sizing:border-box;}
.headerul{width:50%; display:flex; justify-content:space-around; line-height:100px; } 
#header h1{height:100%; margin-top:10px;}
#header h1 img{height:80%;}

#container{margin:0px auto;}
#container .con1{width:100%; height:165vh;justify-content:space-around; box-sizing:border-box; }
#container .con1 .mapa{width:100%; height:70vh;background:url(../img/naturchick.jpg) no-repeat; background-position:bottom; background-size:cover  }
#container .con1 .mapa img{width:100%; height:100%; object-fit:contain;}
#container .con1 .textbox{width:70%; height:70vh;  ; text-align:center; margin:170px auto 0px; /*background:url(../img/greenonionschicken.jpg) no-repeat; background-position:bottom; background-size:70%;*/ position:relative;box-sizing:border-box; }
#container .con1 .textbox img{width:50%; /*position:absolute; bottom:0px; left:50%; transform:translateX(-50%);*/border-radius:10px 10px 10px 10px ;margin:60px 0px 0px}
.con1 .textbox h1{font-size:50px}
.con1 .textbox h2{margin:65px 0px 40px; font-size:40px;}
.con1 .textbox p{color:rgb(70, 70, 70); font-size:25px; margin:20px 0px }
.con1 .textbox .st1{color:orangered; font-size:70px;}

/*.con1 .textbox .st2{color:orangered}*/

.con2{margin:300px 0px; text-align:center;}
.con2 h2{margin:30px 0px}
.con2 .chicken{width:90%; display:flex; flex-wrap:wrap; justify-content:space-around; margin:0px auto 300px; box-sizing:border-box; }
.con2 .chicken li{margin:0px 40px;}

.con2 .chicken img{object-fit:contain;}
.con2 img{width:300px; height:300px; /* box-shadow:5px 10px 10px 1px #888888;*/ box-sizing:border-box;   border-radius:0px;}

.con2 .side{width:90%; display:flex; flex-wrap:wrap; justify-content:space-around; margin:0px auto 300px; box-sizing:border-box; }
.con2 .side li{margin:0px 40px;}
.con2 .side li img{object-fit:contain;}
/*.con2 .side li:last-child{margin-right:48.5vw}*/


.con2 .side .gal{object-fit:none}

.con2 .snack{width:90%; margin:0px auto 300px; display:flex; justify-content:space-around; flex-wrap:wrap;  }
.con2 .snack li{margin:0px 40px;}
.con2 .snack li img{object-fit:contain;}
#footer{display:flex; padding:4vw; box-sizing:border-box; background:orange}
#footer h2 span{margin-top:50px}
#footer h2{text-align:right;}
#footer img{width:100px; }
#footer .fright{width:50%; text-align:right; }
#footer .fleft{width:50%; }
#footer p{margin:10px 0px}
