*{padding:0px; margin:0px; }
li{list-style:none;}
a{text-decoration:none; color:#000}
body{font-family: 'Nanum Gothic', sans-serif;
    cursor:url(../img/chick.jpg) 20 30, url(../img/mapa2.png) 20 30, auto;
    overflow-x:hidden;}

@media(min-width:1220px){

    #header{height:100px; display:flex; justify-content:space-around;   box-sizing:border-box;}
    .headerul{width:50%; display:flex; justify-content:space-around;  line-height:100px;}
    #header h1{height:100%;margin-top:10px;}
    #header h1 img{height:80%;}
    
    #visual{width:100%;}
    #visual ul img{width:100%; height:800px;}
    #visual ul li:nth-of-type(1){position:relative;}
    #visual ul li:nth-of-type(1) h1{width:1000px; margin-top:180px;  text-align:center;border:8px solid #b94501; box-sizing:border-box; color:#e41313; background:#f8daaf31; position:absolute; left:50%; top:0px; transform:translateX(-50%); font-size:70px}
    #visual ul li:nth-of-type(1) h1 img{width:60px; height:60px;}
    
    #container{width:100%;  box-sizing:border-box;}
    .con1{padding:200px 120px; box-sizing:border-box;}
    .con1>h1{text-align:center; margin:0px 0px 70px;}
    .con1 ul{width:100%;display:flex; }
    .con1 ul li{ margin:0px auto;box-sizing:border-box;}
    .con1 ul li img{/*width:350px; height:250px; margin:0px 100px; */width:20vw;height:27vh; border-radius:50px; }
    
    .con1 ul li h3{width:120px; padding:10px 30px; background:#000; border-radius:30px; color:#e41313;text-align:center; margin:30px auto;}
    
    .con2{background:#ba2b2d}
    
    .con3{width:100%; text-align:center; background:url(../img/chickencharic2.png) no-repeat;  background-position:top right ;}
    .con3 .five{width:100%; display:flex; padding:0px 200px; box-sizing:border-box; margin:70px 0px ;}
    .con3 .five li{width:19%;}
    .con3 .five li img{width:100%; }
    .con3 .five li:nth-of-type(3){width:24%; margin-top:-50px;}
    .con3  h4 .st1{color:rgb(124, 124, 124)}
    .con3 h1 .st2{color:red; font-weight:bolder}
    .con3 h1 .st3{color:rgb(61, 61, 61); font-weight:bolder}
    .con3 h1 .st5{color:rgb(155, 155, 155);}
    .con3 h1 .st4{color:red;}

    .con3 h4{font-size:25px;}
    
    .con5{display:flex; flex-wrap:wrap; margin:100px auto; padding:0px 200px; box-sizing:border-box; }
    .con5 h1{color:red; margin-bottom:10px;}
    
    .con5 .box1, .con5 .box2, .con5 .box3, .con5 .box4{width:50%;}
    .con5 .box1, .con5 .box4{ text-align:center; padding:200px 0px; font-size: 20px}
    .con5 .box2 img, .con5 .box3 img{width:100%; height:100%; object-fit:cover;}
    .con5 .box1, .con5 .box3{border-right:5px solid #f00; box-sizing:border-box;}
    .con5 .box2, .con5 .box4{border-left:5px solid #f00; box-sizing:border-box;}
    
    
    .con6{/*padding:0px 100px;*/padding:0px 50px; box-sizing:border-box; text-align:center; margin:180px 0px;}
    .con6 .box1, .con6 .box2, .con6 .box3, .con6 .box4, .con6 .box5, .con6 .box6, .con6 .box7, .con6 .box8, .con6 .box9, .con6 .box10, .con6 .box11, .con6 .box12{width:50%; height:600px;  box-sizing:border-box; }
    .con6 .wrap{display:flex; flex-wrap:wrap;}

    .con6 img{width:100%; height:75% ;  border-radius:100px 0px 100px 0px ; object-fit:cover; }

    .con6 h1 span{color:red}
    .con6 h1{font-size:60px; margin-bottom:100px;}

    .con6 .box1{position:relative;}
    .con6 .box4{position:relative;}
    .con6 .box5{position:relative;}
    .con6 .box8{position:relative;}
    .con6 .box9{position:relative;}
    .con6 .box12{position:relative;}
    .con6 .box1 img{position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box4 img{position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box5 img{position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box8 img{position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box9 img{position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box12 img{position:absolute; left:0%; top:50%; transform:translateY(-50%);}

    .con6 .box2{font-size:40px; /*padding:200px 110px; */box-sizing:border-box; /*border-left:1px solid #ccc; */position:relative;}
    .con6 .box3{font-size:40px; /*padding:200px 110px;*/ box-sizing:border-box; position:relative; }
    .con6 .box6{font-size:40px; /*padding:200px 110px;*/ box-sizing:border-box;position:relative;}
    .con6 .box7{font-size:40px; /*padding:200px 110px; */box-sizing:border-box;position:relative;}
    .con6 .box10{font-size:40px;/* padding:200px 110px;*/ box-sizing:border-box;position:relative;}
    .con6 .box11{font-size:40px;/* padding:200px 110px; */box-sizing:border-box;position:relative;}

    .con6 .box2 .x_txt{width:100%;position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box3 .x_txt{width:100%;position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box6 .x_txt{width:100%;position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box7 .x_txt{width:100%;position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box10 .x_txt{width:100%;position:absolute; left:0%; top:50%; transform:translateY(-50%);}
    .con6 .box11 .x_txt{width:100%; position:absolute; top:50%; transform:translateY(-50%);  }

    .con6 .x_txt h3{margin-bottom:40px;}

    .con6 .box2 span{color:orange}
    .con6 .box3 span{color:#888}
    .con6 .box7 span{color:red}
    .con6 .box10 span{color:rgb(255, 68, 0)}
    .con6 .box6 .c1{color:#ff0800}
    .con6 .box6 .c2{color:#ff6600}
    .con6 .box6 .c3{color:#150074}
    .con6 .box11 span{color:#150074}
    


    .con7{box-sizing:border-box; background:#e9e9e9; position:relative; }
    .con7 .daepyo{width:50%; border-radius:50px 0px 50px 0px; margin-right:40px; }

    .con7 .topbox{width:680px; height:470px; display:flex; position:absolute; top:-100px; left:50%; transform:translateX(-50%); box-sizing:border-box;}
    .con7 .topbox .text{width:50%;}
    .con7 .topbox .text h1{font-size:60px; margin-bottom:10px; }
    .con7 .topbox .text h2{font-size:35px;}
    .con7 .topbox .text h1 span{color:#979797}
    .con7 .topbox .text h2 span{color:#696969;font-size:40px;}
    .con7 .topbox .text .h2_2{margin:70px 0px}
    
    .bottombox{width:100%; height:1700px;position:relative; margin-top:200px;box-sizing:border-box;}
    .con7 .bottombox .un5{width:50%;/* margin:500px;*/position:absolute;left:50%; top:40%; transform:translateX(-50%);   }
    .un6{display:none;}
    
    .royal{position:absolute; top:500px; left:40%}
    .royal h1{color:#e41313;  font-size:50px}
    
    .gigan{position:absolute; top:800px; left:7%}
    .gigan h1{color:#e48913;  font-size:50px}
    
    .jae{position:absolute; top:800px; right:7%}
    .jae h1{color:#1344e4;  font-size:50px}
    
    .gamae{position:absolute; top:1300px; right:7%}
    .gamae h1{color:#4fb4f7;  font-size:50px}
    
    .tv{position:absolute; top:1300px; left:15%}
    .tv h1{color:#e45513;  font-size:50px}
    
    .con7>h1{width:800px; text-align:center; padding:5px 10px; background:#c7253b; font-size:30px; color:#fff; margin:0px auto;  border-radius: 5px; position:absolute; bottom:100px; left:50%; transform:translatex(-50%)}
    
    #footer{width:100%; padding:30px; box-sizing:border-box; background:orange; color:#111; text-align:center; margin-top:0px;}
    #footer img{width:5%}
    #footer .logo{width:10%}
    #footer h4{margin:10px 0px}
    
}
    
/*@media(min-width:1220px)
@media(min-width:768px)and(max-width:1219px)
@media(max-width:767px;)
(min-width:200px)and(max-width:1219px)*/

@media(max-width:1219px){
    #header{width:100%; height:100px; display:flex; justify-content:space-around;   box-sizing:border-box;}
    .headerul{width:50%; display:flex; justify-content:space-around;  line-height:10vw; font-size:2vw;}
    #header h1{ height:100%;}
    #header h1 img{height:70%;}

    #visual{width:100%;}
    #visual ul img{width:100%; height:800px;}
    #visual ul li:nth-of-type(1){position:relative;}
    #visual ul li:nth-of-type(1) h1{width:90%; margin-top:180px;  text-align:center;border:8px solid #b94501; box-sizing:border-box; color:#e41313; background:#f8daaf31; position:absolute; left:50%; top:0px; transform:translateX(-50%); font-size:7vw}
    #visual ul li:nth-of-type(1) h1 img{width:60px; height:60px;}

    #container{width:100%;  box-sizing:border-box;}
    .con1{padding:20% 12%; box-sizing:border-box;}
    .con1>h1{text-align:center; margin:0px 0px 70px; font-size:3vw;}
    .con1 ul{display:flex; flex-wrap:wrap; }
    .con1 ul li{ margin:0px 0px;box-sizing:border-box; }
    .con1 ul li img{width:35vw; height:25vw; margin:0px 100px; border-radius:50px; }

    .con1 ul li h3{width:12%; padding:1% 3%; background:#000; border-radius:2vw; color:#e41313;text-align:center; margin:3% auto; font-size:1.5vw; }

    .con2{background:#ba2b2d}

    .con3{width:100%; text-align:center; background:url(../img/chickencharic2.png) no-repeat;  background-position:top right ;}
    .con3 .five{width:100%; display:flex; flex-wrap:wrap; padding:0px 200px; box-sizing:border-box; margin:7% 0% ;}
    .con3 .five li{width:100%;}
    .con3 .five li img{width:100%; }
    .con3 .five li:nth-of-type(3){}
    .con3  h4 .st1{color:rgb(124, 124, 124)}
    .con3 h1 .st2{color:red; font-weight:bolder}
    .con3 h1 .st3{color:rgb(61, 61, 61); font-weight:bolder}
    .con3 h1 .st5{color:rgb(155, 155, 155);}
    .con3 h1 .st4{color:red;}

    .con5{display:flex; flex-wrap:wrap; margin:100px auto; padding:0px 200px; box-sizing:border-box; }
    .con5 h1{color:red; margin-bottom:10px; font-size:3vw;}
    .con5 p{font-size:2vw;}

    .con5 .box1, .con5 .box2, .con5 .box3, .con5 .box4{width:100%}
    .con5 .box1, .con5 .box4{ text-align:center; padding:20% 0px; font-size: 2vw}
    .con5 .box2 img, .con5 .box3 img{width:100%; height:100%;}
    .con5 .box1, .con5 .box3, .con5 .box2, .con5 .box4{border-right:2vw solid #f00; box-sizing:border-box;}
    /*.con5 .box2, .con5 .box4{border-left:2vw solid #f00; box-sizing:border-box;}*/


    .con6{padding:0px 10%; box-sizing:border-box; text-align:center; margin:180px 0px;}
    .con6 .box1, .con6 .box2, .con6 .box3, .con6 .box4, .con6 .box5, .con6 .box6, .con6 .box7, .con6 .box8, .con6 .box9, .con6 .box10, .con6 .box11, .con6 .box12{width:100%; height:60%; /* border:1px solid #150074;*/ }
    .con6 .wrap{display:flex; flex-wrap:wrap;}
    .con6 img{width:100%; ;  border-radius:10vw 0px 10vw 0px ;}
    .con6>h1 span{color:red}
    .con6>h1{font-size:6vw; margin-bottom:10%;}
    .con6>h4{font-size:2vw;}
    .con6 .box2{font-size:4vw; padding:20% 11%; box-sizing:border-box; /*border-left:1px solid #ccc; */}
    .con6 .box3{font-size:4vw; padding:20% 11%; box-sizing:border-box;}
    .con6 .box6{font-size:4vw; padding:20% 11%; box-sizing:border-box;}
    .con6 .box7{font-size:4vw; padding:20% 11%; box-sizing:border-box;}
    .con6 .box10{font-size:4vw; padding:20% 11%; box-sizing:border-box;}
    .con6 .box11{font-size:4vw; padding:20% 11%; box-sizing:border-box;}
    .con6 .box3 h3{margin:12% 0px 0px ;}
    .con6 .box2 span{color:orange}
    .con6 .box3 span{color:#888}
    .con6 .box7 span{color:red}
    .con6 .box10 span{color:rgb(255, 68, 0)}
    .con6 .box6 .c1{color:#ff0800}
    .con6 .box6 .c2{color:#ff6600}
    .con6 .box6 .c3{color:#150074}
    .con6 .box11 span{color:#150074}

    .con7{  box-sizing:border-box; background:#e9e9e9;  }
    .con7 .daepyo{width:50%; border-radius:10vw 00px 10vw 0px; margin-left:3vw;   }
    .con7 .bottombox .un5{width:50%; display:none;}
    .con7 .bottombox .un6{width:100%;}
    .con7 .topbox{/*display:flex; margin-left:500px; font-size:30px; position:absolute; top:-100px; left:8%*/}
    .con7 .topbox .text{margin-left:3vw; }
    .con7 .topbox .text h1{font-size:6vw;}
    .con7 .topbox .text h2{font-size:4vw;}
    .con7 .topbox .text h1 span{color:#6b6b6b}

    .bottombox{/*position:relative;*/ margin-top:20%;}
    .royal{margin-left:3vw; margin-top:20px/*position:absolute; top:100%; left:50%; transform:translateX(-50%)*/}
    .royal h1{color:#e41313;  font-size:5vw}

    .gigan{margin-left:3vw; margin-top:20px/*position:absolute; top:120%; left:50%; transform:translateX(-50%)*/}
    .gigan h1{color:#e48913;  font-size:5vw}

    .jae{margin-top:20px; margin-left:3vw;}
    .jae h1{color:#1344e4;  font-size:5vw}

    .gamae{margin-left:3vw; margin-top:20px; padding-bottom:20px}
    .gamae h1{color:#4fb4f7;  font-size:5vw}

    .tv{margin-left:3vw; margin-top:20px}
    .tv h1{color:#e45513;  font-size:5vw}

    .con7>h1{width:80%; text-align:center; padding:1% 5%; background:#c7253b; font-size:3vw; color:#fff; margin:0px auto;  border-radius: 5px; }

    #footer{width:100%; padding:3%; box-sizing:border-box; background:orange; color:#111; text-align:center; margin-top:0px; font-size:1vw}
    #footer img{width:5%}
    #footer .logo{width:10%}
    #footer h4{margin:10px 0px}
    

}